@page "/homepage"
@using CrudOperation.Models
@using CrudOperation.Data.Service
@inject IEmployeeServices service
<PageTitle>HOME PAGE</PageTitle>
<h1>Employee Details </h1>
<h3> Welcome to home page </h3>



